<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular JS - Learn by example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="custom-validation.module.js"></script>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="FormPostController">
            <form novalidate name="form" class='simple-form'>
                <div>
                    Size (0 - 10):
                    <input type="number" ng-model="size" name="size"
                        min="0" max="10" integer>{{ size }}<br>
                    <span ng-show="form.size.$error.integer">The value is not a valid integer!</span>
                    <span ng-show="form.size.$error.min || form.size.$error.max">The value must be in range 0 to 10</span>
                </div>

                <div>
                    Username: <input type="text" ng-model="name" name="name" username> {{ name }}<br>
                    <span ng-show="form.name.$pending.username">Checking if this name is available...</span>
                    <span ng-show="form.name.$error.username">This username is already taken!</span>
                </div>

                <div>
                    E-mail:
                    <input type="email" ng-model="email" name="email" overwrite-email>
                    <span ng-show="form.email.$error.email">This email format is invalid!</span><br>
                    Model: {{ email }}
                </div>
            </form>
        </div>
    </div>
</body>
</html>
